/* main.css */
/* General styling */

html {
	font-family: "Helvetica Neue", Helvetica;
	background-color: rgb(242, 242, 242);
}

#header-canvas-container {
	position: fixed;
	top: 0;
	left: 0;

	width: 100%;
	height: 50px;

	background-color: rgb(188, 137, 93);
	z-index: 899;
}

header {
	display: box;
	display: -webkit-box;
	display: -moz-box;
	z-index: 900;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;

	/* WOO HOO! See this mess? It was cause by idiots that love fragmentation. */
	background: -moz-linear-gradient(top, rgba(255,255,255,0.15) 0%, rgba(255,255,255,0) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.15)), color-stop(100%,rgba(255,255,255,0)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%,rgba(255,255,255,0) 100%);

	border-bottom: 1px solid rgb(185, 185, 185);
	box-shadow: 0 0 5px rgb(150, 150, 150);
}

header > .header-label {
	margin: 0;

	color: whitesmoke;
	text-shadow: 0 0 3px rgb(95, 95, 95);

	line-height: 50px;
	font-size: 1.5em;
	font-weight: bold;

	z-index: 902;
}

@media all and (min-width: 440px) {
	header {
		text-align: center;
	}

	header > .header-label {
		width: 100%;
	}
}

@media all and (max-width: 440px) {
	#header-canvas-container {
		text-align: center;
	}

	header > .header-label {
		margin-left: 10px;
	}

	#select-group {
		width: 300px;
	}
}

.screen {
	margin-top: 50px;
}

#select-group > select {
	margin: 10px;
}

#result {
	margin: 0;
	font-size: 1.2em;
	font-weight: bold;
}
